<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.orders.mapper.ComprehensiveFeeMapper">
  <resultMap id="BaseResultMap" type="com.dili.orders.domain.ComprehensiveFee">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="customer_code" jdbcType="VARCHAR" property="customerCode" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_card_no" jdbcType="VARCHAR" property="customerCardNo" />
    <result column="inspection_num" jdbcType="INTEGER" property="inspectionNum" />
    <result column="charge_amount" jdbcType="BIGINT" property="chargeAmount" />
    <result column="plate" jdbcType="VARCHAR" property="plate" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="inspection_item" jdbcType="VARCHAR" property="inspectionItem" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operator_time" jdbcType="TIMESTAMP" property="operatorTime" />
    <result column="revocator_id" jdbcType="BIGINT" property="revocatorId" />
    <result column="revocator_name" jdbcType="VARCHAR" property="revocatorName" />
    <result column="revocator_time" jdbcType="TIMESTAMP" property="revocatorTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="payment_no" jdbcType="VARCHAR" property="paymentNo" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="balance" jdbcType="BIGINT" property="balance" />
    <result column="inspection_item_name" jdbcType="VARCHAR" property="inspectionItemName" />
    <result column="hold_name" jdbcType="VARCHAR" property="holdName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, code, customer_id, customer_code, customer_name, customer_card_no, inspection_num, 
    charge_amount, plate, order_type, order_status, inspection_item, remark, operator_id, 
    operator_name, operator_time, revocator_id, revocator_name, revocator_time, created_time, 
    creator_id, modified_time, modifier_id, version, payment_no, market_id, department_id,
    customer_type,inspection_item_name,balance,hold_name
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from comprehensive_fee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.orders.domain.ComprehensiveFee">
    <!--
      WARNING - @mbg.generated
    -->
    update comprehensive_fee
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerCode != null">
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerCardNo != null">
        customer_card_no = #{customerCardNo,jdbcType=VARCHAR},
      </if>
      <if test="inspectionNum != null">
        inspection_num = #{inspectionNum,jdbcType=INTEGER},
      </if>
      <if test="chargeAmount != null">
        charge_amount = #{chargeAmount,jdbcType=BIGINT},
      </if>
      <if test="plate != null">
        plate = #{plate,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="inspectionItem != null">
        inspection_item = #{inspectionItem,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null">
        operator_time = #{operatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="revocatorId != null">
        revocator_id = #{revocatorId,jdbcType=BIGINT},
      </if>
      <if test="revocatorName != null">
        revocator_name = #{revocatorName,jdbcType=VARCHAR},
      </if>
      <if test="revocatorTime != null">
        revocator_time = #{revocatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = version + 1,
      </if>
      <if test="paymentNo != null">
        payment_no = #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=BIGINT},
      </if>
      <if test="inspectionItemName != null">
        inspection_item_name = #{inspectionItemName,jdbcType=VARCHAR},
      </if>
      <if test="holdName != null">
        hold_name = #{holdName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByIdAndVersion" parameterType="com.dili.orders.domain.ComprehensiveFee">
    <!--
      WARNING - @mbg.generated
    -->
    update comprehensive_fee
    <set>
      <if test="orderStatus != null">
        order_status = 3,
      </if>
      <if test="revocatorId != null">
        revocator_id = #{revocatorId,jdbcType=BIGINT},
      </if>
      <if test="revocatorName != null">
        revocator_name = #{revocatorName,jdbcType=VARCHAR},
      </if>
      <if test="revocatorTime != null">
        revocator_time = #{revocatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = version + 1,
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=INTEGER} and order_status = 2
  </update>
  <select id="listByQueryParams" resultType="com.dili.orders.domain.ComprehensiveFee">
    SELECT
    *
    FROM comprehensive_fee s
    WHERE 1 = 1
    AND order_status not in(1,4)
    <if test="orderType != null">
      AND order_type = #{orderType}
    </if>
    <if test="orderStatus != null">
      AND order_status = #{orderStatus}
    </if>
    <if test="customerId != null">
      AND customer_id=#{customerId}
    </if>
    <if test="operatorId != null">
      AND operator_id=#{operatorId}
    </if>
    <if test="operatorTimeStart != null">
      AND operator_time  <![CDATA[>=]]> #{operatorTimeStart}
    </if>
    <if test="operatorTimeEnd != null">
      AND operator_time  <![CDATA[<=]]> #{operatorTimeEnd}
    </if>
    <if test="code != null and code!=''">
      AND code = #{code}
    </if>
    <if test="userId != null">
      AND creator_id=#{userId}
    </if>
    <if test="customerCardNo != null">
      AND customer_card_no=#{customerCardNo}
    </if>
    <if test="marketId != null">
      AND market_id=#{marketId}
    </if>
    <if test="departments != null">
      AND department_id IN
      (
      <foreach item="item" index="index" collection="departments" open="" separator="," close="">
        #{item}
      </foreach>
      )
    </if>
    order by ${sort} ${order}
  </select>
  <select id="selectCountAndTotal" resultType="com.dili.orders.domain.ComprehensiveFee">
    SELECT
    COUNT(*) AS transactionsNumCount,SUM(charge_amount) AS transactionsTotal
    FROM comprehensive_fee s
    WHERE 1 = 1
    AND order_status not in(1,4)
    <if test="orderType != null">
      AND order_type = #{orderType}
    </if>
    <if test="orderStatus != null">
      AND order_status = #{orderStatus}
    </if>
    <if test="customerId != null">
      AND customer_id=#{customerId}
    </if>
    <if test="operatorId != null">
      AND operator_id=#{operatorId}
    </if>
    <if test="operatorTimeStart != null">
      AND operator_time  <![CDATA[>=]]> #{operatorTimeStart}
    </if>
    <if test="operatorTimeEnd != null">
      AND operator_time  <![CDATA[<=]]> #{operatorTimeEnd}
    </if>
    <if test="code != null and code!=''">
      AND code = #{code}
    </if>
    <if test="userId != null">
      AND creator_id=#{userId}
    </if>
    <if test="customerCardNo != null and customerCardNo!=''">
      AND customer_card_no=#{customerCardNo}
    </if>
    <if test="marketId != null">
      AND market_id=#{marketId}
    </if>
    <if test="departments != null">
      AND department_id IN
      (
      <foreach item="item" index="index" collection="departments" open="" separator="," close="">
        #{item}
      </foreach>
      )
    </if>
  </select>
  <select id="scheduleUpdateSelect" resultType="com.dili.orders.domain.ComprehensiveFee">
    SELECT
    *
    FROM comprehensive_fee s
    WHERE 1 = 1
    AND s.order_status=1
    <if test="operatorTimeStart != null">
      AND operator_time  <![CDATA[>=]]> #{operatorTimeStart}
    </if>
    <if test="operatorTimeEnd != null">
      AND operator_time  <![CDATA[<=]]> #{operatorTimeEnd}
    </if>
  </select>
  <update id="scheduleUpdate" parameterType="java.util.Set">
    UPDATE comprehensive_fee
    SET order_status=4
    WHERE id IN
    (
    <foreach item="item" index="index" collection="set" open="" separator="," close="">
      #{item}
    </foreach>
    )
  </update>
</mapper>