<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.orders.mapper.ReferencePriceMapper">

    <select id="getReferencePriceByGoodsId" parameterType="com.dili.orders.dto.ReferencePriceQueryDto" resultType="com.dili.orders.domain.WeighingReferencePrice" >
        SELECT
          id,
          goods_id,
          total_avg_count ,
          part_avg_count ,
          trans_count ,
          trans_price_count
        FROM
          weighing_reference_price
        WHERE goods_id = #{goodsId,jdbcType=BIGINT}
        AND market_id = #{marketId,jdbcType=BIGINT}
        AND trade_type=#{tradeType}
        AND settlement_day=#{settlementDay}
    </select>

    <select id="getGoodsRuleByGoodsId" parameterType="Long" resultType="com.dili.orders.domain.GoodsReferencePriceSetting" >
        SELECT
          reference_rule referenceRule,
          fixed_price fixedPrice
        FROM
          goods_reference_price_setting
        WHERE goods_id = #{goodsId,jdbcType=BIGINT}
        AND market_id = #{marketId,jdbcType=BIGINT}
    </select>


    <select id="getTransDataByGoodsId" parameterType="com.dili.orders.dto.ReferencePriceQueryDto" resultType="com.dili.orders.domain.WeighingSettlementBillDaily">
        SELECT
            id,
            market_id,
            goods_id,
            trade_type,
            max_price ,
            min_price ,
            max_trade_amount ,
            min_trade_amount ,
            max_trade_weight ,
            min_trade_weight ,
            trade_count ,
            trade_price_count ,
            total_trade_amount ,
            total_trade_weight,
            settlement_time,
            settlement_day
        FROM
            weighing_settlement_bill_daily
        WHERE goods_id = #{goodsId}
          AND market_id = #{marketId}
          AND trade_type=#{tradeType}
          AND settlement_day=#{settlementDay}
    </select>

    <insert id="insertDaily" useGeneratedKeys="true" keyProperty="id" parameterType="com.dili.orders.domain.WeighingSettlementBillDaily">
        INSERT INTO weighing_settlement_bill_daily(
            market_id, goods_id, settlement_time, settlement_day,max_price, min_price, max_trade_amount,
            min_trade_amount, max_trade_weight, min_trade_weight, trade_count, trade_price_count,total_trade_amount,
            total_trade_weight,trade_type
        ) VALUES (
                     #{marketId}, #{goodsId}, #{settlementTime},#{settlementDay}, #{maxPrice}, #{minPrice}, #{maxTradeAmount},
                     #{minTradeAmount}, #{maxTradeWeight}, #{minTradeWeight}, #{tradeCount}, #{tradePriceCount},#{totalTradeAmount},
                     #{totalTradeWeight},#{tradeType}
                 )
    </insert>

    <update id="updateDaily" parameterType="com.dili.orders.domain.WeighingSettlementBillDaily" >
        UPDATE weighing_settlement_bill_daily
        <set>
            <if test="maxPrice != null">
                max_price = #{maxPrice},
            </if>
            <if test="minPrice != null">
                min_price = #{minPrice},
            </if>
            <if test="maxTradeAmount != null">
                max_trade_amount = #{maxTradeAmount},
            </if>
            <if test="minTradeAmount != null">
                min_trade_amount = #{minTradeAmount},
            </if>
            <if test="maxTradeWeight != null">
                max_trade_weight = #{maxTradeWeight},
            </if>
            <if test="minTradeWeight != null">
                min_trade_weight = #{minTradeWeight},
            </if>
            <if test="tradeCount != null">
                trade_count = #{tradeCount},
            </if>
            <if test="tradePriceCount != null">
                trade_price_count = #{tradePriceCount},
            </if>
            <if test="totalTradeAmount != null">
                total_trade_amount = #{totalTradeAmount},
            </if>
            <if test="totalTradeWeight != null">
                total_trade_weight = #{totalTradeWeight},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateReferencePrice" parameterType="com.dili.orders.domain.WeighingReferencePrice" >
        UPDATE weighing_reference_price
        <set>
            <if test="totalAvgCount != null">
                total_avg_count = #{totalAvgCount},
            </if>
            <if test="partAvgCount != null">
                part_avg_count = #{partAvgCount},
            </if>
            <if test="transCount != null">
                trans_count = #{transCount},
            </if>
            <if test="transPriceCount != null">
                trans_price_count = #{transPriceCount},
            </if>
        </set>
        WHERE id = #{id}
    </update>


</mapper>
