<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.orders.mapper.WeighingBillMapper">
	<resultMap id="BaseResultMap" type="com.dili.orders.domain.WeighingBill">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="trading_bill_type" jdbcType="INTEGER" property="tradingBillType" />
		<result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
		<result column="measure_type" jdbcType="VARCHAR" property="measureType" />
		<result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
		<result column="trade_type_id" jdbcType="BIGINT" property="tradeTypeId" />
		<result column="buyer_id" jdbcType="BIGINT" property="buyerId" />
		<result column="buyer_code" jdbcType="VARCHAR" property="buyerCode" />
		<result column="buyer_card_no" jdbcType="VARCHAR" property="buyerCardNo" />
		<result column="buyer_card_account" jdbcType="BIGINT" property="buyerCardAccount" />
		<result column="buyer_card_holder_name" jdbcType="VARCHAR" property="buyerCardHolderName" />
		<result column="buyer_account" jdbcType="BIGINT" property="buyerAccount" />
		<result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
		<result column="buyer_contact" jdbcType="VARCHAR" property="buyerContact" />
		<result column="buyer_type" jdbcType="VARCHAR" property="buyerType" />
		<result column="buyer_agent_id" jdbcType="BIGINT" property="buyerAgentId" />
		<result column="buyer_agent_name" jdbcType="VARCHAR" property="buyerAgentName" />
		<result column="buyer_certificate_number" jdbcType="VARCHAR" property="buyerCertificateNumber" />
		<result column="buyer_region_tag" jdbcType="INTEGER" property="buyerRegionTag" />
		<result column="seller_id" jdbcType="BIGINT" property="sellerId" />
		<result column="seller_code" jdbcType="VARCHAR" property="sellerCode" />
		<result column="seller_card_no" jdbcType="VARCHAR" property="sellerCardNo" />
		<result column="seller_card_account" jdbcType="BIGINT" property="sellerCardAccount" />
		<result column="seller_card_holder_name" jdbcType="VARCHAR" property="sellerCardHolderName" />
		<result column="seller_account" jdbcType="BIGINT" property="sellerAccount" />
		<result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
		<result column="seller_contact" jdbcType="VARCHAR" property="sellerContact" />
		<result column="seller_type" jdbcType="VARCHAR" property="sellerType" />
		<result column="seller_agent_id" jdbcType="BIGINT" property="sellerAgentId" />
		<result column="seller_agent_name" jdbcType="VARCHAR" property="sellerAgentName" />
		<result column="seller_certificate_number" jdbcType="VARCHAR" property="sellerCertificateNumber" />
		<result column="goods_id" jdbcType="BIGINT" property="goodsId" />
		<result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
		<result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
		<result column="goods_key_code" jdbcType="VARCHAR" property="goodsKeyCode" />
		<result column="goods_origin_city_id" jdbcType="BIGINT" property="goodsOriginCityId" />
		<result column="goods_origin_city_name" jdbcType="VARCHAR" property="goodsOriginCityName" />
		<result column="unit_amount" jdbcType="INTEGER" property="unitAmount" />
		<result column="unit_price" jdbcType="BIGINT" property="unitPrice" />
		<result column="unit_weight" jdbcType="INTEGER" property="unitWeight" />
		<result column="fetched_weight" jdbcType="INTEGER" property="fetchedWeight" />
		<result column="fetch_weight_time" jdbcType="TIMESTAMP" property="fetchWeightTime" />
		<result column="rough_weight" jdbcType="INTEGER" property="roughWeight" />
		<result column="net_weight" jdbcType="INTEGER" property="netWeight" />
		<result column="plate_number" jdbcType="VARCHAR" property="plateNumber" />
		<result column="tare_weight" jdbcType="INTEGER" property="tareWeight" />
		<result column="subtraction_rate" jdbcType="INTEGER" property="subtractionRate" />
		<result column="subtraction_weight" jdbcType="INTEGER" property="subtractionWeight" />
		<result column="estimated_net_weight" jdbcType="INTEGER" property="estimatedNetWeight" />
		<result column="frozen_amount" jdbcType="BIGINT" property="frozenAmount" />
		<result column="tare_bill_number" jdbcType="VARCHAR" property="tareBillNumber" />
		<result column="staff_charges" jdbcType="BIGINT" property="staffCharges" />
		<result column="packing_charges" jdbcType="BIGINT" property="packingCharges" />
		<result column="collection_charges" jdbcType="BIGINT" property="collectionCharges" />
		<result column="payment_state" jdbcType="INTEGER" property="paymentState" />
		<result column="payment_type" jdbcType="INTEGER" property="paymentType" />
		<result column="packing_type" jdbcType="INTEGER" property="packingType" />
		<result column="packing_type_name" jdbcType="INTEGER" property="packingTypeName" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
		<result column="settlement_time" jdbcType="TIMESTAMP" property="settlementTime" />
		<result column="department_id" jdbcType="BIGINT" property="departmentId" />
		<result column="department_name" jdbcType="VARCHAR" property="departmentName" />
		<result column="creator_id" jdbcType="BIGINT" property="creatorId" />
		<result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
		<result column="check_price" jdbcType="INTEGER" property="checkPrice" />
		<result column="price_state" jdbcType="INTEGER" property="priceState" />
		<result column="market_id" jdbcType="BIGINT" property="marketId" />
		<result column="version" jdbcType="INTEGER" property="version" />
	</resultMap>

	<resultMap id="ExportStatisticsResultMap" type="com.dili.orders.dto.WeighingBillListStatisticsDto">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
		<result column="measure_type" jdbcType="VARCHAR" property="measureType" />
		<result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
		<result column="buyer_id" jdbcType="BIGINT" property="buyerId" />
		<result column="buyer_code" jdbcType="VARCHAR" property="buyerCode" />
		<result column="buyer_card_no" jdbcType="VARCHAR" property="buyerCardNo" />
		<result column="buyer_card_account" jdbcType="BIGINT" property="buyerCardAccount" />
		<result column="buyer_card_holder_name" jdbcType="VARCHAR" property="buyerCardHolderName" />
		<result column="buyer_account" jdbcType="BIGINT" property="buyerAccount" />
		<result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
		<result column="buyer_contact" jdbcType="VARCHAR" property="buyerContact" />
		<result column="buyer_type" jdbcType="VARCHAR" property="buyerType" />
		<result column="buyer_agent_id" jdbcType="BIGINT" property="buyerAgentId" />
		<result column="buyer_agent_name" jdbcType="VARCHAR" property="buyerAgentName" />
		<result column="buyer_certificate_number" jdbcType="VARCHAR" property="buyerCertificateNumber" />
		<result column="seller_id" jdbcType="BIGINT" property="sellerId" />
		<result column="seller_code" jdbcType="VARCHAR" property="sellerCode" />
		<result column="seller_card_no" jdbcType="VARCHAR" property="sellerCardNo" />
		<result column="seller_card_account" jdbcType="BIGINT" property="sellerCardAccount" />
		<result column="seller_card_holder_name" jdbcType="VARCHAR" property="sellerCardHolderName" />
		<result column="seller_account" jdbcType="BIGINT" property="sellerAccount" />
		<result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
		<result column="seller_contact" jdbcType="VARCHAR" property="sellerContact" />
		<result column="seller_type" jdbcType="VARCHAR" property="sellerType" />
		<result column="seller_agent_id" jdbcType="BIGINT" property="sellerAgentId" />
		<result column="seller_agent_name" jdbcType="VARCHAR" property="sellerAgentName" />
		<result column="seller_certificate_number" jdbcType="VARCHAR" property="sellerCertificateNumber" />
		<result column="goods_id" jdbcType="BIGINT" property="goodsId" />
		<result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
		<result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
		<result column="goods_key_code" jdbcType="VARCHAR" property="goodsKeyCode" />
		<result column="goods_origin_city_id" jdbcType="BIGINT" property="goodsOriginCityId" />
		<result column="goods_origin_city_name" jdbcType="VARCHAR" property="goodsOriginCityName" />
		<result column="unit_amount" jdbcType="INTEGER" property="unitAmount" />
		<result column="unit_price" jdbcType="BIGINT" property="unitPrice" />
		<result column="unit_weight" jdbcType="INTEGER" property="unitWeight" />
		<result column="fetched_weight" jdbcType="INTEGER" property="fetchedWeight" />
		<result column="fetch_weight_time" jdbcType="TIMESTAMP" property="fetchWeightTime" />
		<result column="rough_weight" jdbcType="INTEGER" property="roughWeight" />
		<result column="net_weight" jdbcType="INTEGER" property="netWeight" />
		<result column="plate_number" jdbcType="VARCHAR" property="plateNumber" />
		<result column="tare_weight" jdbcType="BIGINT" property="tareWeight" />
		<result column="subtraction_rate" jdbcType="INTEGER" property="subtractionRate" />
		<result column="subtraction_weight" jdbcType="INTEGER" property="subtractionWeight" />
		<result column="estimated_net_weight" jdbcType="INTEGER" property="estimatedNetWeight" />
		<result column="frozen_amount" jdbcType="BIGINT" property="frozenAmount" />
		<result column="tare_bill_number" jdbcType="VARCHAR" property="tareBillNumber" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
		<result column="settlement_time" jdbcType="TIMESTAMP" property="settlementTime" />
		<result column="department_id" jdbcType="BIGINT" property="departmentId" />
		<result column="department_name" jdbcType="VARCHAR" property="departmentName" />
		<result column="creator_id" jdbcType="BIGINT" property="creatorId" />
		<result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
		<result column="check_price" jdbcType="INTEGER" property="checkPrice" />
		<result column="price_state" jdbcType="INTEGER" property="priceState" />
		<result column="market_id" jdbcType="BIGINT" property="marketId" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="trade_type_id" jdbcType="BIGINT" property="tradeTypeId" />
		<result column="ws_id" property="statement.id" />
		<result column="ws_serial_no" property="statement.serialNo" />
		<result column="ws_state" property="statement.state" />
		<result column="trade_amount" property="statement.tradeAmount" />
		<result column="ws_frozen_amount" property="statement.frozenAmount" />
		<result column="buyer_poundage" property="statement.buyerPoundage" />
		<result column="buyer_actual_amount" property="statement.buyerActualAmount" />
		<result column="seller_poundage" property="statement.sellerPoundage" />
		<result column="seller_actual_amount" property="statement.sellerActualAmount" />
		<result column="ws_state" property="statement.state" />
		<result column="last_operator_id" property="statement.lastOperatorId" />
		<result column="last_operator_name" property="statement.lastOperatorName" />
		<result column="last_operation_time" property="statement.lastOperationTime" />
		<result column="last_operator_user_name" property="statement.lastOperatorUserName" />
		<result column="unit_weight_price" property="unitWeightPrice" />
		<result column="unit_piece_price" property="unitPiecePrice" />
	</resultMap>

	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		id, trading_bill_type, serial_no, measure_type, trade_type, trade_type_id, buyer_id,
		buyer_code, buyer_card_no, buyer_card_account, buyer_card_holder_name, buyer_account,
		buyer_name, buyer_contact,
		buyer_type, buyer_agent_id, buyer_agent_name, buyer_certificate_number,
		buyer_region_tag, seller_id, seller_code, seller_card_no, seller_card_account, seller_card_holder_name,
		seller_account,
		seller_name, seller_contact, seller_type, seller_agent_id, seller_agent_name,
		seller_certificate_number, goods_id, goods_name, goods_code, goods_key_code, goods_origin_city_id,
		goods_origin_city_name, unit_amount, unit_price, unit_weight, fetched_weight, fetch_weight_time,
		rough_weight, net_weight, plate_number, tare_weight, subtraction_rate, subtraction_weight,
		estimated_net_weight, frozen_amount, tare_bill_number, staff_charges, packing_charges,
		collection_charges, payment_state, payment_type, packing_type, packing_type_name,
		state, created_time,
		modified_time, settlement_time, department_id, department_name,
		creator_id, modifier_id, check_price, price_state, market_id, version
	</sql>

	<resultMap extends="BaseResultMap" id="PageResultMap" type="com.dili.orders.dto.WeighingBillListPageDto">
		<result column="ws_id" property="statement.id" />
		<result column="ws_serial_no" property="statement.serialNo" />
		<result column="ws_state" property="statement.state" />
		<result column="trade_amount" property="statement.tradeAmount" />
		<result column="ws_frozen_amount" property="statement.frozenAmount" />
		<result column="buyer_poundage" property="statement.buyerPoundage" />
		<result column="buyer_actual_amount" property="statement.buyerActualAmount" />
		<result column="seller_poundage" property="statement.sellerPoundage" />
		<result column="seller_actual_amount" property="statement.sellerActualAmount" />
		<result column="ws_state" property="statement.state" />
		<result column="last_operator_id" property="statement.lastOperatorId" />
		<result column="last_operator_name" property="statement.lastOperatorName" />
		<result column="last_operation_time" property="statement.lastOperationTime" />
		<result column="last_operator_user_name" property="statement.lastOperatorUserName" />
		<result column="unit_weight_price" property="unitWeightPrice" />
		<result column="unit_piece_price" property="unitPiecePrice" />
	</resultMap>

	<resultMap extends="BaseResultMap" id="ClientListResultMap" type="com.dili.orders.dto.WeighingBillClientListDto">
		<result column="ws_id" property="statement.id" />
		<result column="ws_serial_no" property="statement.serialNo" />
		<result column="ws_state" property="statement.state" />
		<result column="trade_amount" property="statement.tradeAmount" />
		<result column="ws_frozen_amount" property="statement.frozenAmount" />
		<result column="buyer_poundage" property="statement.buyerPoundage" />
		<result column="buyer_actual_amount" property="statement.buyerActualAmount" />
		<result column="seller_poundage" property="statement.sellerPoundage" />
		<result column="seller_actual_amount" property="statement.sellerActualAmount" />
		<result column="ws_state" property="statement.state" />
		<result column="operator_id" property="weighingOperatorId" />
		<result column="operator_name" property="weighingOperatorName" />
		<result column="operation_time" property="weighingOperationTime" />
	</resultMap>

	<resultMap extends="BaseResultMap" id="DetailResultMap" type="com.dili.orders.dto.WeighingBillDetailDto">
		<result column="weighing_time" property="weighingTime" />
		<association property="statement">
			<result column="ws_id" property="id" />
			<result column="ws_serial_no" property="serialNo" />
			<result column="trade_amount" property="tradeAmount" />
			<result column="buyer_poundage" property="buyerPoundage" />
			<result column="buyer_actual_amount" property="buyerActualAmount" />
			<result column="seller_poundage" property="sellerPoundage" />
			<result column="seller_actual_amount" property="sellerActualAmount" />
			<result column="ws_frozen_amount" property="frozenAmount" />
			<result column="ws_state" property="state" />
			<result column="payment_type" property="paymentType" />
			<result column="payment_state" property="paymentTtate" />
		</association>
		<collection javaType="java.util.ArrayList" ofType="com.dili.orders.domain.WeighingBillOperationRecord" property="records">
			<result column="wopr_id" jdbcType="BIGINT" property="id" />
			<result column="operation_type" jdbcType="INTEGER" property="operationType" />
			<result column="operation_type_name" jdbcType="VARCHAR" property="operationTypeName" />
			<result column="operator_id" jdbcType="BIGINT" property="operatorId" />
			<result column="operator_user_name" jdbcType="VARCHAR" property="operatorUserName" />
			<result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
			<result column="operation_time" jdbcType="TIMESTAMP" property="operationTime" />
		</collection>
	</resultMap>

	<sql id="Base_Join_Column_List">
		wb.id,
		wb.trading_bill_type,
		wb.measure_type,
		wb.serial_no,
		wb.buyer_id,
		wb.buyer_code,
		wb.buyer_card_no,
		wb.buyer_name,
		wb.buyer_contact,
		wb.buyer_account,
		wb.buyer_certificate_number,
		wb.seller_id,
		wb.seller_code,
		wb.seller_card_no,
		wb.seller_name,
		wb.seller_contact,
		wb.seller_account,
		wb.seller_certificate_number,
		wb.price_state,
		wb.goods_id,
		wb.goods_key_code,
		wb.goods_name,
		wb.rough_weight,
		wb.tare_weight,
		wb.net_weight,
		wb.subtraction_rate,
		wb.subtraction_weight,
		wb.unit_price,
		wb.unit_amount,
		wb.unit_weight,
		wb.trade_type,
		wb.frozen_amount,
		wb.state,
		wb.created_time,
		wb.plate_number,
		wb.goods_origin_city_name,
		wb.goods_origin_city_id,
		wb.modified_time,
		wb.settlement_time,
		wb.estimated_net_weight,
		wb.department_id,
		wb.department_name,
		wb.payment_type,
		wb.payment_state,
		wb.trading_bill_type,
		wb.buyer_region_tag,
		wb.staff_charges,
		wb.packing_charges,
		wb.collection_charges,
		wb.payment_state,
		wb.payment_type,
		wb.packing_type,
		wb.packing_type_name
	</sql>

	<sql id="Ws_Join_Column_List">
		ws.id AS ws_id,
		ws.serial_no AS ws_serial_no,
		ws.trade_amount,
		ws.frozen_amount AS ws_frozen_amount,
		ws.buyer_poundage,
		ws.buyer_actual_amount,
		ws.seller_poundage,
		ws.seller_actual_amount,
		ws.state AS ws_state,
		ws.last_operation_time,
		ws.last_operator_id,
		ws.last_operator_name,
		ws.last_operator_user_name,
		ws.buyer_poundage_pay_order_no,
		ws.seller_poundage_pay_order_no,
		ws.staff_charges,
		ws.packing_charges,
		ws.collection_charges,
		ws.payment_state,
		ws.payment_type,
		ws.collection_record_id,
		ws.service_fee_pay_order_no
	</sql>

	<sql id="Wbor_Join_Column_List">
		wbor.id as wopr_id,
		wbor.operator_id,
		wbor.operation_type,
		wbor.operation_type_name,
		wbor.operator_user_name,
		wbor.operator_name,
		wbor.operation_time
	</sql>


	<select id="listPage" parameterType="com.dili.orders.dto.WeighingBillQueryDto" resultMap="PageResultMap">
		SELECT * FROM(
		SELECT
		<include refid="Base_Join_Column_List" />
		,
		<include refid="Ws_Join_Column_List" />
		,
		( CASE WHEN measure_type = 1 THEN wb.unit_price * 2 ELSE ROUND(wb.unit_price*200/wb.unit_weight,0) END ) AS unit_weight_price,
		( CASE WHEN measure_type = 2 THEN wb.unit_price ELSE NULL END ) AS
		unit_piece_price
		FROM
		weighing_statement ws
		INNER JOIN weighing_bill wb ON wb.id = ws.weighing_bill_id
		WHERE
		1 = 1
		<if test="statementStates != null">
			AND ws.state IN
			<foreach close=")" collection="statementStates" item="item" open="(" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="sellerCardNo != null and sellerCardNo!=''">
			AND wb.seller_card_no = #{sellerCardNo}
		</if>
		<if test="buyerCardNo != null and buyerCardNo!=''">
			AND wb.buyer_card_no = #{buyerCardNo}
		</if>
		<if test="state != null">
			AND wb.state=#{state}
		</if>
		<if test="tradeType != null">
			AND wb.trade_type=#{tradeType}
		</if>
		<if test="goodsIds != null">
			AND wb.goods_id IN
			<foreach close=")" collection="goodsIds" item="goods" open="(" separator=",">
				#{goods}
			</foreach>
		</if>
		<if test="buyerId != null">
			AND wb.buyer_id = #{buyerId}
		</if>
		<if test="sellerId != null">
			AND wb.seller_id = #{sellerId}
		</if>
		<if test="serialNo != null">
			AND wb.serial_no = #{serialNo}
		</if>
		<if test="createdStart != null">
			AND wb.created_time <![CDATA[>=]]>
			#{createdStart}
		</if>
		<if test="createdEnd != null">
			AND wb.created_time <![CDATA[<=]]>
			#{createdEnd}
		</if>
		<if test="plateNumber != null">
			AND wb.plate_number LIKE CONCAT('%',#{plateNumber},'%')
		</if>
		<if test="wsSerialNo != null and wsSerialNo!=''">
			AND ws.serial_no = #{wsSerialNo}
		</if>
		<if test="marketId != null">
			AND wb.market_id = #{marketId}
		</if>
		<if test="operationStartTime != null">
			AND ws.last_operation_time <![CDATA[>=]]>
			#{operationStartTime}
		</if>
		<if test="operationEndTime != null">
			AND ws.last_operation_time <![CDATA[<=]]>
			#{operationEndTime}
		</if>
		<if test="operatorId != null">
			AND ws.last_operator_id = #{operatorId}
		</if>
		<choose>
			<when test="departmentId != null">
				AND department_id = #{departmentId}
			</when>
			<when test="departmentIds != null and departmentIds.size() &gt; 0">
				AND department_id IN
				<foreach close=")" collection="departmentIds" item="deptId" open="(" separator=",">
					#{deptId}
				</foreach>
			</when>
		</choose>
		<choose>
			<when test="tradingBillType != null">
				AND trading_bill_type = #{tradingBillType}
			</when>
			<when test="tradingBillTypeList != null and tradingBillTypeList.size() &gt; 0">
				AND trading_bill_type IN
				<foreach close=")" collection="tradingBillTypeList" item="tradingBillType" open="(" separator=",">
					#{tradingBillType}
				</foreach>
			</when>
		</choose>
		) t1
		WHERE 1=1
		<if test="unitPriceStartValue != null">
			AND unit_weight_price <![CDATA[>=]]>
			#{unitPriceStartValue}
		</if>
		<if test="unitPriceEndValue != null">
			AND unit_weight_price <![CDATA[<=]]>
			#{unitPriceEndValue}
		</if>
		<if test="sort !=null and sort!='' and order !=null and order !=''">
			ORDER BY ${sort} ${order}
		</if>
		<if test="sort ==null or sort==''">
			ORDER BY t1.created_time DESC
		</if>
	</select>

	<select id="selectExportStatistics" parameterType="com.dili.orders.dto.WeighingBillQueryDto" resultMap="ExportStatisticsResultMap">
		SELECT
		SUM( t1.rough_weight ) AS rough_weight,
		SUM( t1.tare_weight ) AS tare_weight,
		SUM(
		t1.net_weight ) AS net_weight,
		SUM( t1.unit_amount ) AS unit_amount,
		SUM( t1.unit_weight ) AS unit_weight,
		SUM(
		t1.trade_amount ) AS trade_amount,
		SUM( t1.buyer_poundage ) AS buyer_poundage,
		SUM(
		t1.buyer_actual_amount ) AS buyer_actual_amount,
		SUM( t1.seller_poundage ) AS seller_poundage,
		SUM(
		t1.seller_actual_amount ) AS seller_actual_amount
		FROM
		(
		SELECT
		wb.rough_weight,
		wb.tare_weight,
		wb.net_weight,
		wb.unit_amount,
		wb.unit_weight,
		ws.trade_amount,
		ws.buyer_poundage,
		ws.buyer_actual_amount,
		ws.seller_poundage,
		ws.seller_actual_amount,
		(
		CASE
		WHEN measure_type = 1 THEN
		wb.unit_price * 2 ELSE
		ROUND( wb.unit_price * 200 / wb.unit_weight, 0 )
		END
		) AS unit_weight_price,
		( CASE WHEN measure_type = 2
		THEN wb.unit_price ELSE NULL END ) AS unit_piece_price
		FROM
		weighing_statement ws
		INNER JOIN
		weighing_bill wb ON wb.id = ws.weighing_bill_id
		WHERE
		1 = 1
		<if test="statementStates != null">
			AND ws.state IN
			<foreach close=")" collection="statementStates" item="item" open="(" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="sellerCardNo != null and sellerCardNo!=''">
			AND wb.seller_card_no = #{sellerCardNo}
		</if>
		<if test="buyerCardNo != null and buyerCardNo!=''">
			AND wb.buyer_card_no = #{buyerCardNo}
		</if>
		<if test="state != null">
			AND wb.state=#{state}
		</if>
		<if test="tradeType != null">
			AND wb.trade_type=#{tradeType}
		</if>
		<if test="goodsIds != null">
			AND wb.goods_id IN
			<foreach close=")" collection="goodsIds" item="goods" open="(" separator=",">
				#{goods}
			</foreach>
		</if>
		<if test="buyerId != null">
			AND wb.buyer_id = #{buyerId}
		</if>
		<if test="sellerId != null">
			AND wb.seller_id = #{sellerId}
		</if>
		<if test="serialNo != null">
			AND wb.serial_no = #{serialNo}
		</if>
		<if test="createdStart != null">
			AND wb.created_time <![CDATA[>=]]>
			#{createdStart}
		</if>
		<if test="createdEnd != null">
			AND wb.created_time <![CDATA[<=]]>
			#{createdEnd}
		</if>
		<if test="plateNumber != null">
			AND wb.plate_number LIKE CONCAT('%',#{plateNumber},'%')
		</if>
		<if test="wsSerialNo != null and wsSerialNo!=''">
			AND ws.serial_no = #{wsSerialNo}
		</if>
		<if test="marketId != null">
			AND wb.market_id = #{marketId}
		</if>
		<if test="operationStartTime != null">
			AND ws.last_operation_time <![CDATA[>=]]>
			#{operationStartTime}
		</if>
		<if test="operationEndTime != null">
			AND ws.last_operation_time <![CDATA[<=]]>
			#{operationEndTime}
		</if>
		<if test="operatorId != null">
			AND ws.last_operator_id = #{operatorId}
		</if>
		<if test="departmentIds != null and departmentIds.size() &gt; 0">
			AND department_id IN
			<foreach close=")" collection="departmentIds" item="deptId" open="(" separator=",">
				#{deptId}
			</foreach>
		</if>
		) t1
		WHERE
		1 = 1
		<if test="unitPriceStartValue != null">
			AND unit_weight_price <![CDATA[>=]]>
			#{unitPriceStartValue}
		</if>
		<if test="unitPriceEndValue != null">
			AND unit_weight_price <![CDATA[<=]]>
			#{unitPriceEndValue}
		</if>
	</select>

	<select id="selectByExampleModified" parameterType="com.dili.orders.dto.WeighingBillQueryDto" resultMap="ClientListResultMap">
		SELECT
		<include refid="Base_Join_Column_List" />
		,
		<include refid="Ws_Join_Column_List" />
		,
		<include refid="Wbor_Join_Column_List" />
		FROM
		weighing_bill wb
		INNER JOIN weighing_statement ws ON wb.id = ws.weighing_bill_id
		LEFT JOIN (
		SELECT
		id,
		weighing_bill_id,
		operator_id,
		operation_type,
		operation_type_name,
		operator_user_name,
		operator_name,
		MAX( operation_time ) AS operation_time
		FROM
		weighing_bill_operation_record
		WHERE
		operation_type = 1
		GROUP BY
		weighing_bill_id
		) wbor ON wb.id = wbor.weighing_bill_id
		WHERE
		1 = 1
		<if test="idStart != null">
			AND wb.id <![CDATA[>]]>
			#{idStart}
		</if>
		<if test="state != null">
			AND wb.state=#{state}
		</if>
		<if test="tradeType != null">
			AND wb.trade_type=#{tradeType}
		</if>
		<if test="goodsIds != null">
			AND wb.goods_id IN
			<foreach close=")" collection="goodsIds" item="goods" open="(" separator=",">
				#{goods}
			</foreach>
		</if>
		<if test="buyerId != null">
			AND wb.buyer_id = #{buyerId}
		</if>
		<if test="sellerId != null">
			AND wb.seller_id = #{sellerId}
		</if>
		<if test="serialNo != null">
			AND wb.serial_no = #{serialNo}
		</if>
		<if test="wsSerialNo != null">
			AND ws.serial_no = #{wsSerialNo}
		</if>
		<if test="operatorId != null">
			AND ((ws.modifier_id IS NULL AND ws.creator_id = #{operatorId}) OR ws.modifier_id = #{operatorId})
		</if>
		<if test="createdStart != null">
			AND wb.created_time <![CDATA[>=]]>
			#{createdStart}
		</if>
		<if test="createdEnd != null">
			AND wb.created_time <![CDATA[<=]]>
			#{createdEnd}
		</if>
		<if test="modifiedStart != null">
			AND wb.modified_time<![CDATA[>=]]>
			#{modifiedStart}
		</if>
		<if test="modifiedEnd != null">
			AND wb.modified_time <![CDATA[<=]]>
			#{modifiedEnd}
		</if>
		<if test="plateNumber != null">
			AND wb.plate_number LIKE CONCAT('%',#{plateNumber},'%')
		</if>
		<if test="unitPriceStartValue != null">
			AND wb.unit_price <![CDATA[>=]]>
			#{unitPriceStartValue}
		</if>
		<if test="unitPriceEndValue != null">
			AND wb.unit_price <![CDATA[<=]]>
			#{unitPriceEndValue}
		</if>
		<if test="filterByPriceState">
			AND (wb.price_state = 2 OR wb.price_state IS NULL)
		</if>
		<if test="statementStates != null">
			AND ws.state IN
			<foreach close=")" collection="statementStates" item="item" open="(" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="departmentIds != null and departmentIds.size() &gt; 0">
			AND department_id IN
			<foreach close=")" collection="departmentIds" item="deptId" open="(" separator=",">
				#{deptId}
			</foreach>
		</if>
		<if test="creatorId != null">
			AND wb.creator_id = #{creatorId}
		</if>
		<if test="marketId != null">
			AND wb.market_id = #{marketId}
		</if>
		<if test="statementStates != null and statementStates.size==1">
			ORDER BY wb.settlement_time DESC
		</if>
		<if test="statementStates != null and statementStates.size&gt;1">
			ORDER BY wb.created_time DESC
		</if>
	</select>

	<select id="selectDetailById" parameterType="Long" resultMap="DetailResultMap">
		SELECT
		<include refid="Base_Join_Column_List" />
		,
		<include refid="Ws_Join_Column_List" />
		,
		<include refid="Wbor_Join_Column_List" />
		,( CASE wbor.operation_type WHEN 1 THEN wbor.operation_time ELSE NULL END ) AS weighing_time
		FROM
		weighing_bill wb
		INNER JOIN weighing_statement ws ON wb.id = ws.weighing_bill_id
		LEFT JOIN (
		SELECT
		id,
		statement_id,
		operator_id,
		operation_type,
		operation_type_name,
		operator_user_name,
		operator_name,
		MAX( operation_time ) AS operation_time
		FROM weighing_bill_operation_record
		GROUP BY
		statement_id,operation_type
		) wbor ON ws.id = wbor.statement_id
		WHERE
		ws.id = #{id}
	</select>

	<select id="selectLastWeighingOperationRecord" parameterType="Long" resultMap="com.dili.orders.mapper.WeighingBillOperationRecordMapper.BaseResultMap">
		SELECT
		id,
		weighing_bill_id,
		weighing_bill_serial_no statement_id,
		statement_serial_no,
		operator_id,
		operation_type,
		operation_type_name,
		operator_user_name,
		operator_name,
		operation_time
		FROM
		weighing_bill_operation_record
		WHERE
		weighing_bill_id = #{id}
		AND operation_type = 1
		AND operation_time = (
		SELECT
		MAX(
		operation_time
		)
		FROM
		weighing_bill_operation_record
		WHERE
		weighing_bill_id = #{id}
		AND operation_type = 1)
	</select>

</mapper>