<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.orders.mapper.WeighingStatementMapper">
	<resultMap id="BaseResultMap" type="com.dili.orders.domain.WeighingStatement">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
		<result column="weighing_bill_id" jdbcType="BIGINT" property="weighingBillId" />
		<result column="weighing_serial_no" jdbcType="VARCHAR" property="weighingSerialNo" />
		<result column="buyer_id" jdbcType="BIGINT" property="buyerId" />
		<result column="buyer_card_no" jdbcType="VARCHAR" property="buyerCardNo" />
		<result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
		<result column="buyer_actual_amount" jdbcType="BIGINT" property="buyerActualAmount" />
		<result column="buyer_poundage" jdbcType="BIGINT" property="buyerPoundage" />
		<result column="seller_id" jdbcType="BIGINT" property="sellerId" />
		<result column="seller_card_no" jdbcType="VARCHAR" property="sellerCardNo" />
		<result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
		<result column="seller_actual_amount" jdbcType="BIGINT" property="sellerActualAmount" />
		<result column="seller_poundage" jdbcType="BIGINT" property="sellerPoundage" />
		<result column="trade_amount" jdbcType="BIGINT" property="tradeAmount" />
		<result column="frozen_amount" jdbcType="BIGINT" property="frozenAmount" />
		<result column="state" jdbcType="TINYINT" property="state" />
		<result column="pay_order_no" jdbcType="VARCHAR" property="payOrderNo" />
		<result column="frozen_order_no" jdbcType="VARCHAR" property="frozenOrderNo" />
		<result column="creator_id" jdbcType="BIGINT" property="creatorId" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
		<result column="version" jdbcType="INTEGER" property="version" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		id, serial_no, weighing_bill_id, weighing_serial_no, buyer_id, buyer_card_no, buyer_name,
		buyer_actual_amount, buyer_poundage, seller_id, seller_card_no, seller_name, seller_actual_amount,
		seller_poundage, trade_amount, frozen_amount, state, pay_order_no, frozen_order_no,
		creator_id, created_time, modifier_id, modified_time, version
	</sql>

	<sql id="Join_Column_List">
		<!-- WARNING - @mbg.generated -->
		ws.id,
		ws.serial_no,
		ws.weighing_bill_id,
		ws.weighing_serial_no,
		ws.buyer_id,
		ws.buyer_card_no,
		ws.buyer_name,
		ws.buyer_actual_amount,
		ws.buyer_poundage,
		ws.seller_id,
		ws.seller_card_no,
		ws.seller_name,
		ws.seller_actual_amount,
		ws.seller_poundage,
		ws.trade_amount,
		ws.frozen_amount,
		ws.state,
		ws.pay_order_no,
		ws.frozen_order_no,
		ws.creator_id,
		ws.created_time,
		ws.modifier_id,
		ws.modified_time,
		ws.version
	</sql>

	<resultMap extends="BaseResultMap" id="AppletListRM" type="com.dili.orders.dto.WeighingStatementAppletDto" />

	<select id="listApplet" parameterType="com.dili.orders.dto.WeighingStatementAppletQuery" resultMap="AppletListRM">
		SELECT
		<include refid="Join_Column_List" />
		FROM
		weighing_statement ws
		INNER JOIN weighing_bill wb ON ws.weighing_bill_id = wb.id
		INNER JOIN weighing_bill_operation_record wbor
		WHERE
		1 =1
		<if test="state != null">
			<choose>
				<when test="2">AND ws.state = #{state} AND wbor.operation_type = 4</when>
				<when test="3">AND ws.state = #{state} AND wbor.operation_type = 5</when>
				<when test="4">AND ws.state = #{state} AND wbor.operation_type = 2</when>
			</choose>
		</if>
		<if test="startTime != null">
			AND wbor.operation_time <![CDATA[>=]]> #{startTime}
		</if>
		<if test="endTime != null">
			AND wbor.operation_time <![CDATA[<=]]> #{endTime}
		</if>
	</select>



</mapper>