<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.orders.mapper.WeighingStatementMapper">
	<resultMap id="BaseResultMap" type="com.dili.orders.domain.WeighingStatement">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
		<result column="weighing_bill_id" jdbcType="BIGINT" property="weighingBillId" />
		<result column="weighing_serial_no" jdbcType="VARCHAR" property="weighingSerialNo" />
		<result column="buyer_id" jdbcType="BIGINT" property="buyerId" />
		<result column="buyer_card_no" jdbcType="VARCHAR" property="buyerCardNo" />
		<result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
		<result column="buyer_actual_amount" jdbcType="BIGINT" property="buyerActualAmount" />
		<result column="buyer_poundage" jdbcType="BIGINT" property="buyerPoundage" />
		<result column="buyer_poundage_pay_order_no" jdbcType="VARCHAR" property="buyerPoundagePayOrderNo" />
		<result column="seller_id" jdbcType="BIGINT" property="sellerId" />
		<result column="seller_card_no" jdbcType="VARCHAR" property="sellerCardNo" />
		<result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
		<result column="seller_actual_amount" jdbcType="BIGINT" property="sellerActualAmount" />
		<result column="seller_poundage" jdbcType="BIGINT" property="sellerPoundage" />
		<result column="seller_poundage_pay_order_no" jdbcType="VARCHAR" property="sellerPoundagePayOrderNo" />
		<result column="trade_amount" jdbcType="BIGINT" property="tradeAmount" />
		<result column="frozen_amount" jdbcType="BIGINT" property="frozenAmount" />
		<result column="staff_charges" jdbcType="BIGINT" property="staffCharges" />
		<result column="packing_charges" jdbcType="BIGINT" property="packingCharges" />
		<result column="collection_charges" jdbcType="BIGINT" property="collectionCharges" />
		<result column="payment_state" jdbcType="INTEGER" property="paymentState" />
		<result column="payment_type" jdbcType="INTEGER" property="paymentType" />
		<result column="collection_record_id" jdbcType="BIGINT" property="collectionRecordId" />
		<result column="state" jdbcType="TINYINT" property="state" />
		<result column="pay_order_no" jdbcType="VARCHAR" property="payOrderNo" />
		<result column="frozen_order_no" jdbcType="VARCHAR" property="frozenOrderNo" />
		<result column="creator_id" jdbcType="BIGINT" property="creatorId" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="last_operation_time" jdbcType="TIMESTAMP" property="lastOperationTime" />
		<result column="last_operator_id" jdbcType="BIGINT" property="lastOperatorId" />
		<result column="last_operator_name" jdbcType="VARCHAR" property="lastOperatorName" />
		<result column="last_operator_user_name" jdbcType="VARCHAR" property="lastOperatorUserName" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		id, serial_no, weighing_bill_id, weighing_serial_no, buyer_id, buyer_card_no, buyer_name,
		buyer_actual_amount, buyer_poundage, buyer_poundage_pay_order_no, seller_id, seller_card_no,
		seller_name, seller_actual_amount, seller_poundage, seller_poundage_pay_order_no,
		trade_amount, frozen_amount, staff_charges, packing_charges, collection_charges,
		payment_state, payment_type, state, pay_order_no, frozen_order_no, creator_id, created_time,
		modifier_id, modified_time, version, last_operation_time, last_operator_id, last_operator_name,
		last_operator_user_name,collection_record_id
	</sql>

	<sql id="Join_Column_List">
		<!-- WARNING - @mbg.generated -->
		ws.id,
		ws.serial_no,
		ws.weighing_bill_id,
		ws.weighing_serial_no,
		ws.buyer_id,
		ws.buyer_card_no,
		ws.buyer_name,
		ws.buyer_actual_amount,
		ws.buyer_poundage,
		ws.seller_id,
		ws.seller_card_no,
		ws.seller_name,
		ws.seller_actual_amount,
		ws.seller_poundage,
		ws.trade_amount,
		ws.frozen_amount,
		ws.state,
		ws.pay_order_no,
		ws.frozen_order_no,
		ws.creator_id,
		ws.created_time,
		ws.modifier_id,
		ws.modified_time,
		ws.last_operation_time,
		ws.version,
		collection_record_id
	</sql>


	<resultMap extends="BaseResultMap" id="AppletListRM" type="com.dili.orders.dto.WeighingStatementAppletDto">
		<result column="measure_type" jdbcType="VARCHAR" property="measureType" />
		<result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
		<result column="unit_amount" jdbcType="INTEGER" property="unitAmount" />
		<result column="unit_price" jdbcType="BIGINT" property="unitPrice" />
		<result column="unit_weight" jdbcType="INTEGER" property="unitWeight" />
		<result column="net_weight" jdbcType="INTEGER" property="netWeight" />
	</resultMap>
	<resultMap id="AppletStateCountRM" type="com.dili.orders.dto.WeighingStatementAppletStateCountDto">
		<result column="state" property="state" />
		<result column="total_frozen_amount" property="totalFrozenAmount" />
		<result column="total_trade_amount" property="totalTradeAmount" />
		<result column="state_count" property="stateCount" />
	</resultMap>

	<select id="listApplet" parameterType="com.dili.orders.dto.WeighingStatementAppletQuery" resultMap="AppletListRM">
		SELECT DISTINCT
		<include refid="Join_Column_List" />
		,wb.measure_type,
		wb.goods_name,
		wb.unit_amount,
		wb.unit_price,
		wb.unit_weight,
		wb.net_weight
		FROM
		weighing_statement ws
		INNER JOIN weighing_bill wb ON ws.weighing_bill_id = wb.id
		INNER JOIN
		weighing_bill_operation_record wbor ON wbor.statement_id = ws.id
		WHERE
		1 =1
		<if test="state != null">
			<choose>
				<when test="state == 2">AND ws.state = #{state} AND wbor.operation_type = 4</when>
				<when test="state == 3">AND ws.state = #{state} AND wbor.operation_type = 5</when>
				<when test="state == 4">AND ws.state = #{state} AND wbor.operation_type = 2</when>
			</choose>
		</if>
		<if test="startTime != null">
			AND wbor.operation_time <![CDATA[>=]]>
			#{startTime}
		</if>
		<if test="endTime != null">
			AND wbor.operation_time <![CDATA[<=]]>
			#{endTime}
		</if>
		<if test="accountIds != null and accountIds.size() &gt; 0">
			AND (wb.buyer_account IN
			<foreach close=")" collection="accountIds" item="accountId" open="(" separator=",">
				#{accountId}
			</foreach>
			OR wb.seller_account IN
			<foreach close=")" collection="accountIds" item="accountId" open="(" separator=",">
				#{accountId}
			</foreach>
			)
		</if>
		<if test="sort !=null and sort!='' and order !=null and order !=''">
			ORDER BY ${sort} ${order}
		</if>
		<if test="sort ==null or sort==''">
			ORDER BY wbor.operation_time DESC
		</if>
	</select>

	<select id="selectStateCount" parameterType="com.dili.orders.dto.WeighingStatementAppletQuery" resultMap="AppletStateCountRM">
		SELECT
		ws.state,
		SUM( ws.frozen_amount ) AS total_frozen_amount,
		SUM( ws.trade_amount ) AS total_trade_amount,
		count(*) AS state_count
		FROM
		weighing_statement ws
		INNER JOIN weighing_bill wb ON
		ws.weighing_bill_id = wb.id
		INNER JOIN
		weighing_bill_operation_record wbor ON wbor.statement_id = ws.id
		AND ((
		ws.state = 2
		AND wbor.operation_type = 4
		)
		OR ( ws.state = 3 AND wbor.operation_type = 5 )
		OR (
		ws.state = 4 AND wbor.operation_type
		= 2 ))
		WHERE
		1 = 1
		AND ws.state IN ( 2, 3, 4 )
		<if test="startTime != null">
			AND wbor.operation_time <![CDATA[>=]]>
			#{startTime}
		</if>
		<if test="endTime != null">
			AND wbor.operation_time <![CDATA[<=]]>
			#{endTime}
		</if>
		<if test="accountIds != null and accountIds.size() &gt; 0">
			AND (wb.buyer_account IN
			<foreach close=")" collection="accountIds" item="accountId" open="(" separator=",">
				#{accountId}
			</foreach>
			OR wb.seller_account IN
			<foreach close=")" collection="accountIds" item="accountId" open="(" separator=",">
				#{accountId}
			</foreach>
			)
		</if>
		GROUP BY
		ws.state
	</select>

	<select id="listByIds" parameterType="com.dili.orders.domain.CollectionRecord" resultType="com.dili.orders.dto.WeighingCollectionStatementDto">
		SELECT
		ws.id AS 'weighingStatementId',
		wb.id AS 'weighingBillId',
		wb.serial_no AS 'weighingBillCode',
		ws.last_operation_time AS 'lastOperationTime',
		ws.serial_no AS 'weighingStatementCode',
		wb.goods_name AS 'goodsName',
        ROUND(wb.net_weight/200,2) AS 'netWeightY',
		wb.unit_amount AS 'unitAmountY',
        ROUND(wb.unit_price/50,2) AS 'unitPriceY',
		ROUND(ws.trade_amount/100,2) AS 'tradeAmountY',
        ROUND(wb.staff_charges/100,2) AS 'staffChargesY',
        ROUND(wb.packing_charges/100,2) AS 'packingChargesY',
        ROUND(wb.collection_charges/100,2) AS 'collectionChargesY',
		wb.packingTypeName AS 'packingTypeName',
        ROUND(ws.trade_amount+wb.staff_charges+wb.packing_charges+wb.collection_charges/100,2) AS 'totalAmountY',
		ws.version AS 'version'
		FROM
		weighing_statement ws
		INNER JOIN weighing_bill wb ON ws.weighing_bill_id=wb.id
		WHERE 1 = 1
		AND ws.state = 2
		<if test="collectionRecordIds !=null and collectionRecordIds.size()&gt;0">
			AND ws.id IN
			<foreach close=")" collection="collectionRecordIds" item="collectionRecordId" open="(" separator=",">
				#{collectionRecordId}
			</foreach>
		</if>
		ORDER BY lastOperationTime DESC
	</select>

	<select id="groupListForDetail" parameterType="com.dili.orders.domain.CollectionRecord" resultType="java.util.Map">
		SELECT
		DATE_FORMAT(last_operation_time,'%Y-%m-%d') AS 'time',
		ROUND(SUM(ws.trade_amount+wb.staff_charges+wb.packing_charges+wb.collection_charges)/100,2) AS 'amount',
		COUNT(ws.id) AS 'cnt',
		GROUP_CONCAT(ws.id) AS 'ids'
		FROM weighing_statement ws
		INNER JOIN weighing_bill wb ON ws.weighing_bill_id=wb.id
		WHERE 1 = 1
		<if test="buyerId !=null">
			AND ws.buyer_id = #{buyerId}
		</if>
		<if test="sellerId !=null">
			AND ws.seller_id = #{sellerId}
		</if>
		<if test="accountBuyerId">
			AND wb.buyer_card_account = #{accountBuyerId}
		</if>
		<if test="accountSellerId !=null">
			AND wb.seller_card_account = #{accountSellerId}
		</if>
		AND ws.state = 2
		AND market_id = #{marketId}
		<if test="collectionRecordIds !=null and collectionRecordIds.size()&gt;0">
			AND ws.id IN
			(
			<foreach close="" collection="collectionRecordIds" index="" item="collectionRecordId">
				#{collectionRecordId}
			</foreach>
			)
		</if>
		<if test="departmentIds !=null and departmentIds.size()&gt;0">
			AND wb.department_id IN
			<foreach close=")" collection="departmentIds" item="departmentId" open="(" separator=",">
				#{departmentId}
			</foreach>
		</if>
		GROUP BY DATE_FORMAT(last_operation_time,'%Y-%m-%d')
		ORDER BY time ASC
	</select>


</mapper>